.main-about{
    background-color: white;
    width: 80%;
    padding: 40px;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 2px;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.main-about-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.about-flex-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}
.about-flex-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.about-myself{
    font-size: 2rem;
    font-family: Inter;
    font-weight: 600;
    color: black;
}
.myself-content{
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color:grey ;
    width: 90%;
    line-height: 25px;
}
.skills-text{
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 700;
    color: black;
}
.skills{
    font-size: 1rem;
    font-weight: 400;
    font-family: Inter;
    margin-bottom: 10px;
    color: rgb(64, 63, 63);
}
@media (max-width:768px){
    .main-about-flex{
        flex-direction: column;
        gap: 20px;
    }
    .myself-content{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }
    .about-flex-1{
        width: 100%;
    }
    .about-flex-2{
        width: 100%;
    }
    .main-about{
        padding: 20px;
    }
}